.coverage
examples/*.log
examples/*.json
examples/*.bz2
examples/*.manifest
**/*.pyc
**/*.swp
**/__pycache__
**/*.class
**/*.so
iterations_runners/iterations_runner_c
platform_sanity_checks/check_openbsd_malloc_options
.cache
